header{
    background-color: antiquewhite;
    position: relative;
    height: 140px;
}

nav{
    position: absolute;
    right:25px;
    top:50px;

}
section{
    margin: 20px 0px;
}
a{
    color:white;
}

nav li{
    display: inline;
    margin: 5px;
}

h1{
    position: absolute;
    left: 10px;
    top:10px;
    font-size: 50px;
  

}

.color{
    color: black;
}

.contenedor_padre{
   display: flex;
   justify-content: space-evenly;
   flex-wrap: wrap;
}


.card{
    background-color: aliceblue;
    width:300px;
    border: 5px solid;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
}

.contenedor_limite{
    background-color: cadetblue;
    max-width: 1200px;
    margin: 0 auto;
}



img{
    max-width: 100%;
}


footer{
    background-color: chocolate;
}



@media screen and (max-width:600px) {
    h1{
        font-size: 40px;
    }

    nav{
        position: absolute;
        left:5px;
        top:80px;
    
    }
}

/*grillas---------------------------------------------------------*/


.parent {
    max-width: 800px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}
    
.div1 { 
    grid-area: 1 / 1 / 2 / 3; 
}

.div1 img{
    width: 100%;
}



.div2 { 
    grid-area: 2 / 1 / 3 / 2; 
}

.div2 img{
    width: 100%;
}


.div3 { 
    grid-area: 2 / 2 / 3 / 3; 
}


.div3 img {
    width: 100%;
}

/*--------------grilla 2-------------------------------------------------------*/

.parent_2 {
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}
    
    
.div1_2{ 
    grid-area: 1 / 1 / 4 / 3; 
}

.div1_2 img{
    width: 100%;
    height: 100%;
}


.div2_2{ 
    grid-area: 1 / 3 / 2 / 4; 
}

.div2_2 img{
    width: 100%;
}


.div3_2{ 
    grid-area: 2 / 3 / 3 / 4; 
}

.div2_3 img{
    width: 100%;
}


.div4_2{ grid-area: 3 / 3 / 4 / 4; 
}

.div4_2 img{
    width: 100%;
}